#woosasc_sharecart_popup ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#woosasc_sharecart_popup ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
}
 
/* Handle */
#woosasc_sharecart_popup ::-webkit-scrollbar-thumb {
    background: #b5b5b5; 
    width: 10px;
    border-radius: 5px;
}

/* Handle on hover */
#woosasc_sharecart_popup ::-webkit-scrollbar-thumb:hover {
    background: #b5b5b5; 
    width: 10px;
}
.woosasc_sharecart_popup_class {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    padding: 100px 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0 0 0 / 58%); /* Black w/ opacity */
}
.woosasc_sharecart_popup_body {
    overflow: hidden; 
    position: relative;
}
.woosasc_sharecart_popup_body:after {
    position: absolute;
    background-color: #00000070;
    content: "";
    width: 100%; height: 100%; left: 0; top: 0;
}
img.woosasc_loader{
    position: fixed;
    top: 50%;
    left: 50%;
	z-index: 999999999;
}
.woosasc_scp_close {
    display: flex;
    align-items: center;
    position: absolute;
    height: 20px;
    width: 20px;
    z-index: 9999999;
    cursor: pointer;
    right: 0;
    top: 0;
    margin: 5px;
}
.woosasc_scp_close_modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 500px;
    height: auto;
    border-radius: 5px; 
    padding: 20px;
    position: relative;
}
#woosac_scp_ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #000;
}
#woosac_scp_ul .woosac_scp_li {
    display: block;
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 15px 0;
    margin: 0;
}
.woosasc_scp_inner_div {
    width: 100%;
    display: inline-block;
}
.sendmail_ul input[type="text"],.sendmail_ul textarea {
    color: #000;
    background: #fff;
    width: 100%;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px;
}
.savecart_ul input[type="text"],.savecart_ul textarea {
    color: #000;
    background: #fff;
    width: 100%;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px;
}
.sendmail_ul, .savecart_ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.sendmail_ul .sendmail_li, .savecart_ul .savecart_li {
    display: block;
    width: 100%;
    padding: 15px 0;
    margin: 0;
}
.woosasc_scb_main {
    display: inline-block;
    width: 100%;
    margin: 10px 0px;
}
.woosasc_scb_div {
    display: inline-block;
    width: 65%;
    float: left;
}
.woosasc_load {
    display: inline-block;
    width: 35%;
}
ul.woosasc_scb_ul {
    display: inline-block;
    width: 100%;
    margin: 0;
}
li.woosac_scp_li {
    list-style-type: none;
    float: left;
    width: auto;
}
.woosasc_myac_table {
    text-align: center;
}
.woosasc_icon_svg svg {
    width: 40px;
    height: 40px;
}
.woosasc_icon_svg {
    display: inline-block;
    width: 100%;
}
span.woosasc_icon_svg_share_cart svg {
    width: 25px;
    height: 25px;
}
span.woosasc_icon_svg_share_cart {
    display: inline-block;
    width: 100%;
}
.woosasc_scp_header_div {
    text-align: center;
    border-bottom: 1px solid #000000;
}
.woosasc_scp_header_inner_div {
    color: #000000;
}
.woosac_scp_li a:hover {
    transform: scale3d(.90, .90, .90);
}
.woosac_scp_li a {
    display: inline-block;
    margin: 10px;
    color: #000000;
    transition: .5s;
}
.woosasc_scp_close svg {
    width: auto;
    height: auto;
    transition: .5s;
}
.woosasc_scp_close:hover svg {
    transform: rotate(180deg);
}
button#woosasc_share_cart {
    padding: 10px 40px;
    margin: 10px 0;
}
p.ocsasc_error_sc, p.ocsasc_error_mail {
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
    color: red;
    margin: 0px;
}